html,
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.logo{
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  height: 40px;
  width: 40px;
}

.logo-nav{
  margin-top: 0.5rem;
  height: 35px;
  width: 35px;
  margin-left: 3rem;
}


